{{ 'cupons.css' | asset_url | stylesheet_tag }}


<!--_____________________________________________________________________-->
<!--|                            Banner/Div                             |-->
<!--|___________________________________________________________________|-->

<div class="cupom-section">
  <div class="cupom-section-interno">
    <div class="prim-linha-cupom">
      <div class="texto-prim-linha">
        <h1> {{section.settings.tituloCupom}} </h1>
        <p style="font-size: 23px;"> {{section.settings.textoCupom}} </p>
        <a href="{{section.settings.botaoCupom}}"><b>Ir para o catálogo!</b></a>
      </div> <!--texto-prim-linha-->
      <div><img class="imagemMiniCupom" src="https://lh3.googleusercontent.com/fife/AAWUweWjeYMKC9mW3Of9SOV2fcg6U8HBSSPBYTY7pWJeO8lHCCceFIWVQgRxSL2XBQ5S1WZNDeXdKKbnkbrZtKHNRja2vTK15uLuAjTqi4iqjjHuadj2vDM3wKKeD7o9hl6eCcTbgr29RzYlEx305VJtXAO1NQ8DjYNg19F6X7gSdWlR6iRasVWNRp2S_gg9Y-skBELms87c-9VqfMTNouEyijR_IdobV1pX8fOs8XWQDYhCO55s9gkswjR_PQZRIG1jOXa-I4i12nzpACHw3wyosQzClNlwTSvQALGfalukgFdeEeOKBj4LwXE1Qg-xfwffAFpXCBQt6vSNd9GhV9daBVr3X-DdmW2iNiM5fQhzDDarqLxsjH9qnvXKnSpDLNL3TgogAUNnBcKGExIJlqngTAnmtN2OR8uT8fIl3LnTm5nJ028K4eCgxN4eNJ6D_GsxpNZ179X24BYYAAMvVU5bY7eZQzseNk4-wDykL73z2Es0kMvvv0MmnF6uHpNakWYZr2rT0HIjnmFzCTO6Re5XS-YfFPJaZlp3cASX4VGzD3mnjzA6raugCD42au7OdCIPXJQeTb5Mp59KFUNya0cGOj7X5PoR_cNhq-n5b8qATtq_nhBKjdZ5b16gXrLyTdFP6ioaNuQOsu1LEX4Q4UZu-nydbw_14cAXmQVMpM1Ghw8FnCz4cn0PtMvNchKWgKne1JS1SGVFfnfAVb3eSXkwvhfxWj6DrXCtNK4unvReiL5sgwsb_0iMsdXQ_J9VC5-N0GXmYONcGQ6T44aznj7eIgCHCF-45x1J67Lk68kYNkpSIBbB2SHKFCUMc8gY4BvPAiwQbjS8UuZhJOqzgaDrel1Ah9nmqcj7mAZfoznUKk_OdFaV7u3i2_Hvcm9cBb-N230j5GmFJOeu4-01mEddAlU33v_GZEcbbHOzNEaUgjqSYu6gxpfZiIgkaD_jybqJAE8MEPbNcoZ81-pq_gOvrHUfGCtEF5Nl39ZzyG-B0eNkHfT-MLg1nYHXqeAXI_430m-NMdTgKV5Ih0wVulCoB44hd7SEmyikH_M3T_3WTySCUm4KjrIYU3Dc0Quk78m9Pnn3fWxIKeWN-hQ-VPzkhAJtA2X-DZfMMIw2fDzBtBKFiRrlVJ23j5jZor8P_481gu5kVKZAtw549k0smSguoilbzgg6_uyZUAxrTSIaZ0bPb8m6nZKG3c-AEusQZiRuUp5jaqfCQD1C6zLrl59Lwgw7vjsxTWnrykBypq1sK1-YZwOYgAPwPGHOYXXa_KA5amiyBEekf8lc66W_CMkzKR4nlXuoZAUZqSBthUJVaa7Fa5VTxRt2iS2qaNzMF8e8Pr7FeBcYPsJU1SSZJdwR19rVLx0HJEH3RntNaUUEdSR9rU9C26EX3z4UgwmFuq2cPjHsRjPukMsWgBbUDSjdRf7YEZYpx6OzqSECD18FeLgqlsUvHKv_7ko-T-HAPy_fh5WbrevWjyWVFcZrymt5ApoO6XicbDAc9p3pY9Y2aw5pefYt5jlRJe_HOa8rHyquqVpNAqzPc3PtkZz5oZuuz53lTNFh_l3HXQ4ln5nDHX7XZVqZuefQDLUn-23gnp5Y9vQXk_gi2Xp48ucZerczIBrF0RX91pS4giCaNtyPvgGnKD-OjFmL2imkxe72K9Ha5NrzxmBQ6NT5EO3eSJmH85FkOojQivePqhnY-lgRb61kZ4mjbQNgB6RhQNBUvXkaxW4ydpBxnEd0ObkAKqrWVItr76bKHgCP3sZMBSD4K1FllqiiVVQxdur3qdmrVst4CFyJ79sElqVbadt732ZReOB_xCwpmFhgZiWSk64XGrSo_bEZTGGOCkry9x3Aa1HAVuETka1jOk69U1p7lgGfs5JzxsJ0gWh5vfcT3Py5b6zDK8eBng_SCk0DXTT8gSfQ2RvVHBDHUq8TGrxwltoaT455yDxJ-hHaJkb7XWqp_5ZdZx290DmQOZE61RuzTV87woG-2GXTRTz35Xq7tD2n9WfXINZF1n7yXbwsPsztc8rlZVjnCQvt9oPI_lFfsH_XvFRuDCQxOPB9Z-sIQtw0Zjt7ugqnU6q-i_co4YcABVumqo5opa9_wMb0izwT5Kh1B43ipvNHYPs8BZYgz8dpyg7ocCu-QxMeSDGmb_xtB1eC3o20RCaBws0XbowG_rNrxSHRYb0yZeSJ0twMngxE9I0wZthe0GYmYsl8rtk0pYY5EBrArMpqJUv8LlS0kg4emZReQBkLDbE4Y8Hk2p-FukO3Ws0MtowckixQPnaSa7e7Uo0aZ7ZGX5qC_IFpe7940MmeNBQ0YKiK0ieLYEaMoQ8zxL06lqO52Mr4DksIsSbGbui84bpnIsMQV654VwDbucYu2JFHLN4_dUDRCEMS330RdarlvFLHCtvEou_i-E3pAepDBGIH9GOIf1MccDQqoPksiuksOi1hz7ZhKrjNl45Me49OjBMu39FF2ogdtPH4sqCabrlljqD7faWdCE8D81gBAyUpEVBnl6x18hz8pQi85b6QyyKtwHkGH-Wtro1m4Sz49pKGBxhjPjnWdiT4Y9hdIUN23hWqgPzsfzWnAZ3mt14eQSx4cQ7AO_yBmFu9VnIaa2jvimVxy3ZJ9Da_pRR6o14jzfmPj7gMlWoYB6POloL-P1JlwX8uqS7OmNp34AHeJe-7DDERhDz8vrp1_PHgRV_xEDHeCL4W-jL36dcQ-xwatQpSkF6PsWoPUx0y6OhtbztvMa_fKxZJisYf9vTkAD89wdF7Ovq6a-ifHdvJTl9L6YnmLMm1AaMlo9uAiY7FSDwZMFiZbz_kXEW33pUBFQUx_C6ToEcCiBo8sxy5XSJWDA7b4-6FSNuEYQK1LJM7z-k1Qpx6GcWOwPRSN1PPlKIJh1KNw61S5SNHbFLCxDOVG7GwoFHIgETgrw6q1fSPlin27inTunHDZqxu-e5iE3OB9xQi-lMSEHU1gc6M9MtxZaY581VO2ssctQz1kqFK4NSgBhdpsmfP0J0XLuWVXiTDtlCtVWlbTTz-E3zs9fllVftE12kJ9mHz42v9NY-LEyJWgQ4W7on4fSyc5LbwPHF0W0waKDWbaoI0jPxcANuSim_P0tTjKVkjreyNnc1itdaW8LXibpLdNNWXxIZ76X_AtlscwIVA68XBAI1g5a45LVdfO52S1SkyKURR12FnwE2W0D6oE2KBbYzJSZk6KQqRcU1wALa70Myv2-FLPN_QJ8yz5D-VZw62_zY_GWKAhj1ssaahDNvHCTHL8b0WMprmp7OUL8mYFW4_Z4gPLNRAS000GP7nlT4aL7x0S3PXiCEdTZI2gCNB8NETQK2yNhc8geKoanTjAX5drLyexuGcGNDjX3oL0yL1nvM-ClMczxvF4O75a-deUIVpi21_lmZ9-20ZPouNnxyCGR8jr4pOpw4gZAFnx4iTD09dobve5gkCygPXjqgIve6JXPRNDjyyBq0VcpXi5XJ6J6hmE9ls4vfqqPckB2Kiv3mByIdlskJOcHbpvacDOx2WRzWqCdcgan4fVYvVGqPhw-07PfnS6bWeqWFNp1HhRLx2ZPUfqqKi4dYc1O_ZaFNbYVgy2DRPnAXcbDxxjjexraR8sSdrLSN1bHfY5plOfxm7-XYlpjpK4XJo8-Xhi5F4GjWjvu3whNp3CoffLFAr3Hlm8H4LX7jT3j6Mr6B2EG5rYNJQFMC55-fvSz3b_p7AdncEUBcMmBbRMpcOJ2lUvNI97y8BMGjhdg-gmXn1tAOYazVKHUSYLmT0rklI6aRV8g-xrTeFVcXgWcvPGvsSE3SdLR28NzI7RGrPIx_gVgTAkYih5L3PJchwczkARCSzH9yxx-Dm5SLesNyZErfFjBXue3uDrqc1BdxvQZdnZpR93mVd3DfYmjQGpEqNmfqQrZtbAwnvaEQLVXrTw6qnNcUmF8FJ5M-Ac-B5olS_5EpTOSQIKlwp5t4sdZauYQhEQXm90eQ1JtsU97BR5qjRtcJr3ctqfW8RkLshdHQU1PMttsXNjhX1EUt4cW624osclq58m-fvuXT9fVnNqqMa-TSr9JOiQpscbY-sT-FOGPBpdE2GeMWQ4iGCD8Xevah-uHqvAdF0QH1NHQe3e6oz27l_azX50sI73qIrIRNmvFrP2QVf6lffoLkqdzI5Md2h-xYOSjJ-ts-TbSyu8QSGu8IonixIE-IdHaP1BEG17Uo9uASNCmxsYVkTcJbiIlxUFgkk0rH01lduOH0CgayGNvWAt-Flm83bLoDAIQDTJRJgp2bJ3Qqmt3ZkU3d4Sr1stGcsd2nI_gkzzV2z9-FzILDW85zf8v4NFD5vPCSSMTKpsYrrP2o7sJYWC0Axk9cSPjGTAgIHtjnbFkY4XuuJRqxLnjUX-eolIzR-K6aBe29yK3pvlol0z1KQM4Ex5OLOvrFIk356XSUuxywkBY29z9uD79wYVg8-4Zfo9qLj7owEvNRlowyI3jdrfq6XjjhRiejHsJR5Wi2Bc7fUJeO0eOQHa8o5VGhGSdtXtnPczPqY8AQoQCDCm6EVhnKlPyJVmgX43oesqw4IzZBCORCWNVkYIHAcfSZkE9Q5J5ptyrmPFayWQLqbkyGcxYRjXTa08XGee6ksBgFPzgNXMOWD0_VYOem6Oz9AFU1g4YpSq3BkDIzmfK_mexvj11b9A3tWOnfFAubGQQrSADg91_lpttf9ZuY_O6dVxS9W7aF934w1emzuGpQj7haNIU21_WzIl-QGFbIalaGmYsqCRSFHqLeTuwgIptD57wPucmSuYLMQprVqrlKNdYJTVRWV-hRrJL91u36aUYmNNcYLCJE2LwgIeFrGRWlg91jQZ6wORWnO3mvIEQyv3S0EfjtsrLZqBxQ4nQAAy4Maz9L3wvsg_5JKXrWjRAJHgu6SLFu4xu6vS6AMl6AG3G4gvXwEsL4KOeynuRgfFOINUDOfyNXUaiEMfVnljWcMcDBB-qlx7uuu7iacgifRjXGXCXipUYSEFcHQuQpH7U48z_sT4PuT-XBjk0DRnesxDI2Y-Ei2yDNXSFGgq9vfjsvEG0U1DeE5JvJEW3ppcuilLIeC-5H8Vn7k-SScZKfzqGUVj3lW6upq24xUkrjR1ZdGettXGfyUuh0-TrL1mOIzj15sw5w1x_X50bE5Saki2wWYnfi8JZ0XNDTrbrZkh_NI9IsE_ow6zjtuERrPWgc8tDYJtBY_HnnJXCIpAWR0YOq43_1nHT8XTQtCTSHDa6nKCQdqA43z469tYkmuh3kgmcsbYrgVlUY5Jq8lV8ftoP_fz1HuIIP2SmhVT7qTX7FmbXtZxYE8xjIMpJpL-lRq4ZXw7jH873bZvqVvP8ZSYP0R34wptM2T4753bMv4mL-UuVdxp7Qgv9k8SeO-7iT3s7qZjb_Udqb8QlGwu1s_CuNBiyDbSNZAaRIip0ccF38zy8Wl8Xue_y3F4wgDLnt-qr9VM0fyHZT5CEGi0yHUPOubGjLAkuFe2N_EVQz96hsH8yG_TshtCrLSA6yEK5QZtqKkSfoUv9aDgi0TvopMcJ06vXeDfHbhWQIN-hpsjDjjnSYdnIKn7xYq_sS8m0suczUxNU8HDS-54dLyt5m9jTB-9JdzQDen4kJhUjousxsSsKwIEGZL7RL31r3p6OQ7_8U4WHeYJRkNcKq5afGkKodpZRiunOjnl5Tj_ONTGt_9z74I0GkHX5kU8A0yDeupO6Fo0msVRI4gb-v50OIKCJXupy9ALXu3FoKgEVdCRQgDmYqz_xhe0Bxr7gsEtgNAnf1BAxBH2HtZTnadpvD98o-AChI3XOXxZzlVg8uv1N6ixQvH8xoWca0lJPk-Ry539YbFeZ_phTHONypD3j24ApoJupN2nCpkNvihTujd3MNu2H02ni-ruxo6I8bR_ThIyY449omZBLe0PsEgqzxrL3mUCZD0E2eM6ztrEVDRcxrDwzhZtUVkj3PE8icsdnQp2ZfYhyiyEpye864CekXGX7EjZJl1oFLDFW995aIw6pKjAWFFrNNDQnHxZJYj1tSop1Fi3n8I7LdxlZEKNawpuucfxjOov5WtJtnjKmuwvyw7YXWsbm6cQNKE7uxVTPaibvbCUyC63bghT0d4zGmJkQJ5SLQE_25CPTxHk1NbfSiMpZ6q0CVNIASco9gbwD00hvIEpr9IutzXJSPHL8p17yRG6973EtKB2ISsAi3rKOn-iNPOyqu40thiLlI7x0hQMnUerzKNyo4pot7mf_dWkHZCTDsQLP9qnBhndcUuNVBi-0YY3ZUuLQE8aBMw41_Esf7zl3apyBSoRVge6hvEZXu3bYC5BFyLJ0Ds6DMv05H4XxjTGQK-mrOo7yRYgYRdZHetD0hHPoDZUwHafbRCfA5R1g-ELgZ_wn0MVdhC-XKA3IfIngJmsTPEJf5qIqusCfsoudUbycftoPRAKTtnxyKx4Lau7sV6Y8b-6lo0UOcVFJF5TVRfeKV6yC8qOd1uHcy3UFC8aRyev4biH6cG3CvskVgPJwJlLHiSA82rClXdEcXl4LC9GFy5fnv3WJu3PE_qiaTOmiu-aC6DWxc8OQqh7Keuwi8-oA_UmmPaIV6nNJeAfxsct6GOOKBM4zZw0UnWwuUpWHbw2eoDxKCbYv5wM5PcIaBY3Uf91d34iME5gLfOcazcDUjYe0-Gjti-qqdZSzokw4euATh8Nndi-8L1F-vK1Qu_V3jd4JM_VH8UjIQ50yFlPOo1TP5MOgbLvtfVq_4Oo5UvEjzTfD2W6w0KNVqN1CHpLuEB15mGN9hgBP-PZiatp4y-scdnvddwuhy8zuPpQ5u6-V-o4jIu3js7JIBjty-djih16PWMXpZeIHn7YIg7rSC8o2Tp1UROkeK5aHbGQLJZKGT2EqJHwG1sYt6NZTr85_QJUPGa-dBNJe9EQQM_9DnOOFEK0ijRur_S6IWu2pATccAkvquylpaR3_GE_8yFnSXXBvoTEDi0RKZcOybFrWU0ksmP5cJmSsEhsYZ1Bvz2Rj84oiO7a1qkgd2RSZkuyYAlF9ZyRuu5B58qnwBcsivuRnA56T-ixhUpnNEor-x-Xp4uOQXI4RYmyAuXXFaktxfbOWkKf3VYKElGYkAPNvwVThMXYqGjyZzQ3Q4D7QS71244kac266yFLUbSdZfkycVk6tSQCekqoAzV77oxY2Ziq9FXBv-NNNctDlTqQaVddrmFdyTHH31IbceVMng47qp2VWBxo-q-Lp88rGrdgRYjBPL9yeWeCMD5L0rTCjVA9ol86ALnGR4FOgtHjQ3pG_qmqFD5rEmWxgTfKe-mQ7UqDgg3t8f5ilX-8RBNL23RlANKUPjo5YRy3FKDqQGMYLfvY1-COibVEFuoIXMSaT_myYYa1386DDl0FmFpl1w6xpGdPMCh06rmHPnlN_c9VR2QetdLoqrczzPs4dWIEuw5qZQZrLjltb11bfKNDudSHSW5oMzfKhtZ8ddzVu3Wt2EcCcOS4LIZdHAdixJTJZ1J71vnTxZGOFjKEmr2WfolztWyfh46Kbu_a7KcRrQ2dVIdR5VygzIcQcE9FonsU25VwqqU13vsL81AMhSb8q6xWvyE51RMUzoWDg-ILFwIIICL1P0etuXL18GjCbYevWz9yK_VlP-_McLUA7Kp-7M1SyAIOLsvqvsGXeeZ8OvunZfLXs8luRQaBvvM8POqQBa80GKn0xUlCteLCaQHDudSkur7bHhxSqs8QUVrSghWmGavxQnJ7aoABuMmLS3MqjuPFsaTQfOGaGM5XH9pkeF3G_RbmtEIdh_A6QY0G1lYgQq86zAgsgRpIJDkN08TofVAo3mU4vKUTtq3j2O4KaRZ7lILTq2am9xdMSmxWOeMuuNqTPMnW07UM6Fl7iLTRPPoX5QDRTzQaa6qfYwKeeLyFAhsEMMXEXDVOjtnCy0eu3xQJroj335zE_3Pe9ZYy4DvIh7fx43WKIOG_vhaL5taxqr1sbXGGqCrq10N0VkRVvd7S4rXjmUe1HdinMBw9BogPPpmZvIL_ltfDJc8WFo1wis6d7E0nq9POxBxarJKeddIEypqpGqSlhib6fzcValEB1UsZIbE50n2qww65OtiU4azrAraH1820IH0cHVUBN4GMpzAoaE5nTYGfAiOFMFzfSjZClAgpVn3tQ7pdfws4-qm7GZQuCmjfyLKiAGANcd7KobVFdxr7eQnAXf97FsjbkEwORBnu4PE1fSIXxsGJJj5D0Eac9VRD5ODg8urM92xqdm2FFECyLZ7LoVMsYWe1DPjxD9VpE3tmb9PmPKZNGxZ5MBKIMA6nAEa5kyw4-vKBTfL98Qa6V4ru9aPkyL3Mlc3yyNq8q5hK5PYqzROUrqFI3rPBqcjypWhrJFPdM2XTkn8eUy6__gg89aj9IUbLYNDpDf2auMcPQ4XXPBB0ks69ljVuy9MchjTXNjDPUGd_yQsKZB8QDZkWbtA8e77IcPDqEL1oYizT1QczMo7LT0KGaruWcGiG1koSak7w2od6SHtxrjGY9SBoLNTq4N5BACxmsE0rEOZcxK6v9zz-4lwAqoAhgen3bHig98MYBv-S6E2Uf1gA1d018ru2iJ9-1EjJss10tGB9cSxtI3fm8KssV67uxYrwZ6NWvKLQ7DMzPcJ7mxv_37wzKhbGsWDRSq4m9A6RSZQTHZNDNM8ezjieih70TXn9UC00UqUUKHFnMDzOtzNvPmifId1v7Iw3ZPgD7EokZ1JPiCmNhmJSIpxPhp5ouICPTi_RYba7lfDhCoy0nVatUDjBMqYX2kvtDA9ngYt3xzQwHiCYN68YLVw0D6ZjevYq5bnMnHM9lM_-CR86AOfj6Xs4yfQ4DbiUj4GoXT5WFlnkthGnsgkobUI-VZs-CF9BVe1i-5bwtKst-8WfUTa5rrUHqV3Qcpv3kAvO7RVH0XOcbe22f0TTmV4hS0Tu3FHBw7wcrGRm4pfqtBJU5N4oYdlKpcTmTrMDx9Vdv55pL49zTRWJgEr6E9jOnzGBH7fPrN8zPn9AIPvZ9nRHze3SHLio_l9FZsHUg-nljj617rWxz8pnRCY_UY9oyE-8-nWKIE29x0eod0AvO6ucDsdBZGXlzMFnMGkPdHshdg_s0q5ZIKiEwyX8HX2zZpIJ8i47-KXIjR77ED0o_Me9VnZZiXQ5lUIh8ZcEQtWImemNOS0NX-eV-HyuPY_Sw_dDpNYl-rhm-biA_Ti-FM1jzmTDTthwSm_Nqatemi0to3E0fvMxZUyGzI0KWFJrIHjFjdGGW1qFYcBS0C4g8YPX0u1GWFNE-MYr_7v4GMaYg8hJxvQh6x4aPiCIQhTHoJJdtL5xlqgKGPkljHNBgfnG8ppzS04uF0mbC26KuM-4O_N_clcMaWb2PVANhrBDq4BX_8ZCN1bdGykMHQtF0ASX752oyK_DDKXu5bCqiP028HTSoUirpy8I9kt6vNsSX8-2I2zJTYU3_S1jvBEYWZezGinKpguwlR3jEcsiC30r-RBTeyCHlEXx-p6a2EC5oBwf1Fe61gXLbT0jeP5Yp5cpwHErHTBvUPKuMNSe-8V7FtisT3GUmA9bwjM9CBXM7JJZZ3wEMSTLO0oWanam6UrManigRobSiIlB61fxdwVPF5irxmblZ3NrZHMvBUH0KY_xNJ2S94zMgZHcWSog9JAULXuzDSFj1CWRi59Rdds3MrkHx-Eted7u03-4OTqnVCfmo-F3hfTiIcdcj1r1qVGg4rfijLCl0GswZezBpa4wMbeQu1xAIsVCvWxE_8v6v-sPAdP8ZVq0pqyMi44uuhPz0IR1zm95e02KUWJnapQ-Pc0qkpk02W1fLFzS2F8YdmAzGV1RrbtQb25Nnezkc5w2aPULhrIbCWWD7hCkU7T8jLC6dlVFsuciLLsSX2vTw0jKbjwlcuVU1jWFJsfv_Zl3MDr6lIbELUJWrp0rNJdioqnh4DynoGu0VhngnVrlAK52j9tqr9QRrTkdlH42-LVQUkuOq1AgKka-tjqQnDJIKItAc8ddk759NPzlabLDzQpnndo03XDBIVTmD4y8jx-3WZ_ZBvYPD3nAldSQS-TKAFZ-Z_O0Ak5HsOmuMiSFNsiOFWZv1PckaS36m9VxhNwvbgKBkkhjqvqSy-5=s512-no?authuser=1"></div>
    </div> <!--prim-linha-cupom-->
    
<!--_____________________________________________________________________-->
<!--|                           Cards/Cupons                            |-->
<!--|___________________________________________________________________|-->    
    
    <div class="segu-linha-cupom">
      
      {% for block in section.blocks %}
		{% assign item = block.settings %}
      
        <div class="cards-cupom">
          <p for="{{forloop.index}}"> {{item.inicioCupom}} </p>
          <h1 for="{{forloop.index}}"> {{item.porcentagemCupom}} </h1>
          <p class="texto-bottom-cupom" for="{{forloop.index}}"> {{item.tipoDeDescontoCupom}} </p>
          <p class="validade-cupom" for="{{forloop.index}}"> {{item.validadeCupom}} </p>
          <h2 class="codigo-cupom" for="{{forloop.index}}"> {{item.codigoCupom}} </h2>
        </div> <!--cards-cupom-->
      
      {% endfor %}
      
   

    </div> <!--segu-linha-cupom-->
   </div> <!--prim-linha-cupom-->
  </div> <!--cupom-section-interno-->
</div> <!--cupom-section-->


<!--_________________________________________________-->
<!--|                      JSON                     |-->
<!--_________________________________________________-->

{% schema %}
 {

    "name": "Cupom",
    "settings": [
	  
      {
        "id": "tituloCupom",
        "type": "text",
        "label": "Título Banner Cupom",
        "default": "Ofertas do mês com edição limitada!"
      },

      {
        "id": "textoCupom",
        "type": "text",
        "label": "Texto sobre o Cupom",
        "default": "Semanas de ofertas em todos os produtos! Adicionando os cupons abaixo você pode ganhar até 20% de desconto"
      },

	  {
        "id": "botaoCupom",
        "type": "url",
        "label": "Botão"
      }
    ],

   "name": "Cupons",
   "tag": "section",
   "max_blocks": 4,
   "blocks": 
	[
	 {
	
        "name": "Cupons de Desconto",
        "type": "product",
        "settings": 
			[
              {
                "id": "inicioCupom",
                "type": "text",
                "label": "Topo do Cupom",
                "default": "Cupom de"
              },
              {
                "id": "porcentagemCupom",
                "type": "text",
                "label": "Porcentagem do Cupom",
                "default": "5%"
              },
              {
                "id": "tipoDeDescontoCupom",
                "type": "text",
                "label": "Tipo de Desconto",
                "default": "de desconto para compras apenas no cartão de crédito"
              },
              {
                "id": "validadeCupom",
                "type": "text",
                "label": "Validade",
                "default": "Validade de 5 dias"
              },
              {
                "id": "codigoCupom",
                "type": "text",
                "label": "Código",
                "default": "USE: CUPOM5"
              }
          	]
	 }
	],
    "presets": [
      {
        "name": "cupons-desafio",
        "category": "Custom"
      }
    ]
 }
{% endschema %}

<!-- 

<div class="cards-cupom">
          <p> {{section.settings.inicioCupom}} </p>
          <h1> {{section.settings.porcentagemCupom}} </h1>
          <p class="texto-bottom-cupom"> {{section.settings.tipoDeDescontoCupom}} </p>
          <p class="validade-cupom"> {{section.settings.validadeCupom}} </p>
          <h2 class="codigo-cupom"> {{section.settings.codigoCupom}} </h2>
        </div> 





<div class="cards-cupom">
          <p></p>
          <h1></h1>
          <p class="texto-bottom-cupom">de desconto para compras no cartão de crédito</p>
          <p class="validade-cupom">Validade de 2 dias</p>
          <h2 class="codigo-cupom">USE: CUPOM10</h2>
        </div>
      
        <div class="cards-cupom">
          <p></p>
          <h1></h1>
          <p class="texto-bottom-cupom">de desconto para compras à Vista/PIX</p>
          <p class="validade-cupom">Validade de 5 dias</p>
          <h2 class="codigo-cupom">USE: CUPOM15</h2>
        </div>
      
        <div class="cards-cupom">
          <p></p>
          <h1></h1>
          <p class="texto-bottom-cupom">de desconto para compras à Vista/PIX</p>
          <p class="validade-cupom">Validade de 2 dias</p>
          <h2 class="codigo-cupom">USE: CUPOM20</h2>
        </div>


{
        "id": "inicioCupom",
        "type": "text",
        "label": "Topo do Cupom",
        "default": "Cupom de"
      },
	  {
        "id": "porcentagemCupom5",
        "type": "text",
        "label": "Porcentagem 1º Cupom",
        "default": "5%"
      },
	  {
        "id": "porcentagemCupom10",
        "type": "text",
        "label": "Porcentagem 2º Cupom",
        "default": "10%"
      },
	  {
        "id": "porcentagemCupom15",
        "type": "text",
        "label": "Porcentagem 3º Cupom",
        "default": "15%"
      },

	  {
        "id": "porcentagemCupom20",
        "type": "text",
        "label": "Porcentagem 4º Cupom",
        "default": "20%"
      }


{
        "id": "inicioCupom",
        "type": "text",
        "label": "Topo do Cupom",
        "default": "Cupom de"
      },
      {
        "id": "porcentagemCupom",
        "type": "text",
        "label": "Porcentagem do Cupom",
        "default": "5%"
      },
      {
        "id": "tipoDeDescontoCupom",
        "type": "text",
        "label": "Tipo de Desconto",
        "default": "de desconto para compras apenas no cartão de crédito"
      },
      {
        "id": "validadeCupom",
        "type": "text",
        "label": "Validade",
        "default": "Validade de 5 dias"
      },
      {
        "id": "codigoCupom",
        "type": "text",
        "label": "Código",
        "default": "USE: CUPOM5"
      }


-->