{{ 'cupons.css' | asset_url | stylesheet_tag }}


<!--_____________________________________________________________________-->
<!--|                            Banner/Div                             |-->
<!--|___________________________________________________________________|-->

<div class="cupom-section">
  <div class="cupom-section-interno">
    <div class="prim-linha-cupom">
      <div class="texto-prim-linha">
        <h1> {{section.settings.tituloCupom}} </h1>
        <p class="conteudo-texto-prim-linha "> {{section.settings.textoCupom}} </p>
        <a href="{{section.settings.botaoCupom}}"><b>Ir para o catálogo!</b></a>
      </div> <!--texto-prim-linha-->
      <div><img class="imagemMiniCupom" src="{{ 'CupomDeDesconto.png' | asset_img_url: '240x' }}"></div>
    </div> <!--prim-linha-cupom-->
    
<!--_____________________________________________________________________-->
<!--|                           Cards/Cupons                            |-->
<!--|___________________________________________________________________|-->    
    
    <div class="segu-linha-cupom">
      
      {% for block in section.blocks %}
		{% assign item = block.settings %}
      
        <div class="cards-cupom">
          <p for="{{forloop.index}}"> {{item.inicioCupom}} </p>
          <h1 for="{{forloop.index}}"> {{item.porcentagemCupom}} </h1>
          <p class="texto-bottom-cupom" for="{{forloop.index}}"> {{item.tipoDeDescontoCupom}} </p>
          <p class="validade-cupom" for="{{forloop.index}}"> {{item.validadeCupom}} </p>
          <h2 class="codigo-cupom" for="{{forloop.index}}"> {{item.codigoCupom}} </h2>
        </div> <!--cards-cupom-->
      
      {% endfor %}
      
   

    </div> <!--segu-linha-cupom-->
   </div> <!--prim-linha-cupom-->
  </div> <!--cupom-section-interno-->
</div> <!--cupom-section-->


<!--_________________________________________________-->
<!--|                      JSON                     |-->
<!--_________________________________________________-->

{% schema %}
 {

    "name": "Cupom",
    "settings": [
	  
      {
        "id": "tituloCupom",
        "type": "text",
        "label": "Título Banner Cupom",
        "default": "Ofertas do mês com edição limitada!"
      },

      {
        "id": "textoCupom",
        "type": "text",
        "label": "Texto sobre o Cupom",
        "default": "Semanas de ofertas em todos os produtos! Adicionando os cupons abaixo você pode ganhar até 20% de desconto"
      },
	  {
        "id": "botaoCupom",
        "type": "url",
        "label": "Botão"
      }
    ],

   "name": "Cupons",
   "tag": "section",
   "max_blocks": 4,
   "blocks": 
	[
	 {
	
        "name": "Cupons de Desconto",
        "type": "product",
        "settings": 
			[
              {
                "id": "inicioCupom",
                "type": "text",
                "label": "Topo do Cupom",
                "default": "Cupom de"
              },
              {
                "id": "porcentagemCupom",
                "type": "text",
                "label": "Porcentagem do Cupom",
                "default": "5%"
              },
              {
                "id": "tipoDeDescontoCupom",
                "type": "text",
                "label": "Tipo de Desconto",
                "default": "de desconto para compras apenas no cartão de crédito"
              },
              {
                "id": "validadeCupom",
                "type": "text",
                "label": "Validade",
                "default": "Validade de 5 dias"
              },
              {
                "id": "codigoCupom",
                "type": "text",
                "label": "Código",
                "default": "USE: CUPOM5"
              }
          	]
	 }
	],
    "presets": [
      {
        "name": "cupons-desafio",
        "category": "Custom"
      }
    ]
 }
{% endschema %}

<!-- 

<div class="cards-cupom">
          <p> {{section.settings.inicioCupom}} </p>
          <h1> {{section.settings.porcentagemCupom}} </h1>
          <p class="texto-bottom-cupom"> {{section.settings.tipoDeDescontoCupom}} </p>
          <p class="validade-cupom"> {{section.settings.validadeCupom}} </p>
          <h2 class="codigo-cupom"> {{section.settings.codigoCupom}} </h2>
        </div> 





<div class="cards-cupom">
          <p></p>
          <h1></h1>
          <p class="texto-bottom-cupom">de desconto para compras no cartão de crédito</p>
          <p class="validade-cupom">Validade de 2 dias</p>
          <h2 class="codigo-cupom">USE: CUPOM10</h2>
        </div>
      
        <div class="cards-cupom">
          <p></p>
          <h1></h1>
          <p class="texto-bottom-cupom">de desconto para compras à Vista/PIX</p>
          <p class="validade-cupom">Validade de 5 dias</p>
          <h2 class="codigo-cupom">USE: CUPOM15</h2>
        </div>
      
        <div class="cards-cupom">
          <p></p>
          <h1></h1>
          <p class="texto-bottom-cupom">de desconto para compras à Vista/PIX</p>
          <p class="validade-cupom">Validade de 2 dias</p>
          <h2 class="codigo-cupom">USE: CUPOM20</h2>
        </div>


{
        "id": "inicioCupom",
        "type": "text",
        "label": "Topo do Cupom",
        "default": "Cupom de"
      },
	  {
        "id": "porcentagemCupom5",
        "type": "text",
        "label": "Porcentagem 1º Cupom",
        "default": "5%"
      },
	  {
        "id": "porcentagemCupom10",
        "type": "text",
        "label": "Porcentagem 2º Cupom",
        "default": "10%"
      },
	  {
        "id": "porcentagemCupom15",
        "type": "text",
        "label": "Porcentagem 3º Cupom",
        "default": "15%"
      },

	  {
        "id": "porcentagemCupom20",
        "type": "text",
        "label": "Porcentagem 4º Cupom",
        "default": "20%"
      }


{
        "id": "inicioCupom",
        "type": "text",
        "label": "Topo do Cupom",
        "default": "Cupom de"
      },
      {
        "id": "porcentagemCupom",
        "type": "text",
        "label": "Porcentagem do Cupom",
        "default": "5%"
      },
      {
        "id": "tipoDeDescontoCupom",
        "type": "text",
        "label": "Tipo de Desconto",
        "default": "de desconto para compras apenas no cartão de crédito"
      },
      {
        "id": "validadeCupom",
        "type": "text",
        "label": "Validade",
        "default": "Validade de 5 dias"
      },
      {
        "id": "codigoCupom",
        "type": "text",
        "label": "Código",
        "default": "USE: CUPOM5"
      }


-->
